@media (min-width: 768px) {
    
    .Card_Info{
        width: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    
        @import "Card";
    }

}

@media (max-width: 768px) {
    
    .Card_Info{
        width: 80%;
        margin: auto;
        display: grid;
        gap: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    
        @import "Card";
    }

}